In [3]:
import pandas as pd

In [4]:
pd.read_csv('plear.csv')

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [5]:
 da=pd.read_csv('plear.csv')

In [6]:
da.columns

Index(['Unnamed: 0', 'Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG',
       'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT',
       'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS'],
      dtype='object')

In [7]:
da.head()

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607

In [8]:
da.drop('Pos',axis = 1)

,Unnamed: 0,Rk,Player,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,22,TOR,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,28,MEM,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,24,MIA,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,21,MEM,32,0,360,53,132,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,36,BRK,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,33,TOR,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,23,ATL,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,23,MIA,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,29,POR,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,24,LAC,76,76,1852,310,495,...,.727,217,427,644,120,36,77,114,203,785

In [9]:
da.drop(3)

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
5,5,6,Nickeil Alexander-Walker,SG,23,TOT,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [10]:
da.drop(3,inplace = True)

In [11]:
da

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
5,5,6,Nickeil Alexander-Walker,SG,23,TOT,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [12]:
da.set_index('Tm')

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140
LAC,841,605,Ivica Zubac,C,24,76,76,1852,310,495,...,.727,217,427,644,120,36,77,114,203,785

In [13]:
da.set_index('Tm',inplace = True)

In [14]:
da

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140
LAC,841,605,Ivica Zubac,C,24,76,76,1852,310,495,...,.727,217,427,644,120,36,77,114,203,785

In [15]:
da.reset_index()

,Tm,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,MEM,1,2,Steven Adams,C,28,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
4,TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
837,ATL,838,602,Trae Young,PG,23,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
838,MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
839,POR,840,604,Cody Zeller,C,29,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
840,LAC,841,605,Ivica Zubac,C,24,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [16]:
d= {'key1':[1,2,3,4,5],
    'key2':[5,6,7,8,9],
    'key3':[2,3,5,6,7],




}

In [17]:
aa =pd.DataFrame(d)

In [18]:
aa

   key1  key2  key3
0     1     5     2
1     2     6     3
2     3     7     5
3     4     8     6
4     5     9     7

In [19]:
aa.to_csv('key.csv')

In [20]:
p=pd.DataFrame(d)

In [21]:
p['key1']

0    1
1    2
2    3
3    4
4    5
Name: key1, dtype: int64

In [22]:
p['key2']

0    5
1    6
2    7
3    8
4    9
Name: key2, dtype: int64

In [23]:
p = ['key1']+['key2']

In [24]:
p

['key1', 'key2']

In [25]:
da

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140
LAC,841,605,Ivica Zubac,C,24,76,76,1852,310,495,...,.727,217,427,644,120,36,77,114,203,785

In [26]:
da

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140
LAC,841,605,Ivica Zubac,C,24,76,76,1852,310,495,...,.727,217,427,644,120,36,77,114,203,785

In [27]:
da.dropna()

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAS,836,601,Thaddeus Young,PF,33,26,1,370,74,128,...,.455,40,53,93,59,23,7,30,38,158
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140

In [28]:
da.dropna(inplace = True)

In [29]:
da

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAS,836,601,Thaddeus Young,PF,33,26,1,370,74,128,...,.455,40,53,93,59,23,7,30,38,158
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140

In [30]:
da.dropna(axis= 1)

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAS,836,601,Thaddeus Young,PF,33,26,1,370,74,128,...,.455,40,53,93,59,23,7,30,38,158
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140

In [31]:
pd.read_csv('plear.csv')

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [32]:
daa = pd.read_csv('plear.csv')

In [33]:
daa

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [34]:
daa.dropna(axis =1)

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,131,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,199,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,340,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,32,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,102,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,27,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,553,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,61,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,49,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,227,217,427,644,120,36,77,114,203,785

In [35]:
daa.fillna('sudhir')

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [36]:
import pandas as pd

In [37]:
pd.read_csv('plear.csv')

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [38]:
daa = pd.read_csv('plear.csv')

In [39]:
daa['Age']

0      22
1      28
2      24
3      21
4      36
       ..
837    33
838    23
839    23
840    29
841    24
Name: Age, Length: 842, dtype: object

In [40]:
g = daa.groupby('Age')

In [41]:
g

In [42]:
g.sum()

/tmp/ipykernel_91/1197020669.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.sum()

     Unnamed: 0
Age
19         6346
20        12429
21        20159
22        29953
23        34557
24        44887
25        28973
26        27446
27        25138
28        24533
29        18934
30        16622
31        14495
32        11852
33        10848
34         2645
35         6319
36         3592
37          398
38          366
40          396
41          309
Age       12864

In [43]:
g.sum()

/tmp/ipykernel_91/1197020669.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.sum()

     Unnamed: 0
Age
19         6346
20        12429
21        20159
22        29953
23        34557
24        44887
25        28973
26        27446
27        25138
28        24533
29        18934
30        16622
31        14495
32        11852
33        10848
34         2645
35         6319
36         3592
37          398
38          366
40          396
41          309
Age       12864

In [44]:
g = daa.groupby('Pos')

In [45]:
g.sum()

/tmp/ipykernel_91/1197020669.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.sum()

          Unnamed: 0
Pos
C              54353
C-PF             564
PF             66116
PF-SF            341
PG             68369
PG-SG            723
Pos            12864
SF             59580
SF-SG           1743
SG             86256
SG-PG           1556
SG-PG-SF         675
SG-SF            921

In [46]:
g.mean()

/tmp/ipykernel_91/2978112660.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.mean()

          Unnamed: 0
Pos
C         388.235714
C-PF      564.000000
PF        440.773333
PF-SF     341.000000
PG        446.856209
PG-SG     723.000000
Pos       428.800000
SF        389.411765
SF-SG     435.750000
SG        429.134328
SG-PG     389.000000
SG-PG-SF  675.000000
SG-SF     307.000000

In [47]:
g1 = daa.groupby('G')

In [48]:
g1

In [49]:
g1.sum()

/tmp/ipykernel_91/2725926089.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g1.sum()

    Unnamed: 0
G
1        15201
10        3982
11        3779
12        4864
13        4500
..         ...
80         620
81        1443
82        1263
9         8155
G        12864

[83 rows x 1 columns]

In [50]:
g1.mean()

/tmp/ipykernel_91/3287460031.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g1.mean()

    Unnamed: 0
G
1   460.636364
10  442.444444
11  539.857143
12  540.444444
13  321.428571
..         ...
80  155.000000
81  360.750000
82  252.600000
9   543.666667
G   428.800000

[83 rows x 1 columns]

In [51]:
g1.max().transpose()

/tmp/ipykernel_91/3907411846.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  g1.max().transpose()

G,1,10,11,12,13,14,15,16,17,18,...,76,77,78,79,8,80,81,82,9,G
Unnamed: 0,831,693,824,827,702,567,717,594,817,685,...,841,828,802,780,720,237,527,627,800,834
Rk,99,502,593,596,70,77,91,429,588,98,...,605,89,576,80,517,67,85,66,574,Rk
Player,Zylan Cheatham,Xavier Moon,Tacko Fall,Yves Pons,Udonis Haslem,RJ Nembhard Jr.,Vlatko Čančar,Miye Oni,Udoka Azubuike,Willie Cauley-Stein,...,Trae Young,Tyrese Haliburton,Torrey Craig,Malik Beasley,Victor Oladipo,Miles Bridges,Terance Mann,Saddiq Bey,Xavier Sneed,Player
Pos,SG,SG,SG,SG,SG,SG,SG,SG,SG,SG,...,SG,SG-PG,SF,SG,SG,SG,SG,SF,SG-SF,Pos
Age,40,31,26,31,41,31,30,35,32,35,...,32,29,33,29,29,29,33,30,36,Age
Tm,WAS,TOT,TOT,WAS,TOT,UTA,UTA,UTA,WAS,ORL,...,PHI,WAS,TOT,UTA,TOT,TOR,TOT,WAS,TOT,Tm
GS,1,3,11,3,6,5,4,6,9,8,...,76,8,78,79,3,9,48,82,9,GS
MP,9,98,85,85,83,81,69,44,479,96,...,2743,2695,2678,2524,77,2837,2499,2854,88,MP
FG,3,8,68,8,92,6,8,44,55,83,...,774,430,548,506,6,596,446,458,9,FG
FGA,8,79,72,49,87,58,74,95,77,99,...,932,909,729,975,8,965,794,858,78,FGA
3P,1,9,6,8,6,41,8,15,9,8,...,50,70,79,96,4,68,76,82,9,3P
3PA,5,9,9,9,83,88,58,8,79,48,...,651,408,401,637,6,619,716,610,9,3PA
2P,3,8,9,8,7,8,7,9,94,79,...,90,99,469,92,7,442,97,343,9,2P
2PA,5,9,79,9,8,91,9,68,75,9,...,934,520,968,756,8,749,482,546,9,2PA
FT,3,9,7,9,7,6,9,7,9,7,...,93,86,39,78,4,80,48,75,9,FT
FTA,4,9,9,9,6,6,8,7,9,9,...,593,95,52,61,6,83,59,254,9,FTA
ORB,2,7,7,9,9,9,8,9,6,9,...,85,82,98,84,4,90,66,74,9,ORB
DRB,4,9,8,9,8,51,44,60,74,85,...,524,350,470,272,7,469,350,388,50,DRB
TRB,4,8,9,28,70,74,7,92,98,63,...,760,432,580,356,7,559,425,596,8,TRB
AST,7,9,5,8,8,79,9,8,7,99,...,84,85,91,377,6,300,239,97,8,AST
STL,2,9,14,5,8,8,8,8,9,6,...,92,93,75,68,5,88,85,96,9,STL
BLK,1,8,7,4,9,7,8,9,9,7,...,77,71,60,40,1,75,26,52,9,BLK
TOV,2,9,5,9,9,7,9,8,8,7,...,67,97,99,60,9,80,91,96,9,TOV
PF,5,9,8,7,7,7,9,7,49,9,...,95,94,286,88,9,193,215,220,8,PF
PTS,8,92,79,7,89,90,91,77,80,97,...,902,679,919,953,99,880,944,717,95,PTS

In [52]:
daa

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [53]:
daa[['Player','Age','Pos','G']]

                Player Age Pos   G
0     Precious Achiuwa  22   C  73
1         Steven Adams  28   C  76
2          Bam Adebayo  24   C  56
3         Santi Aldama  21  PF  32
4    LaMarcus Aldridge  36   C  47
..                 ...  ..  ..  ..
837     Thaddeus Young  33  PF  26
838         Trae Young  23  PG  76
839     Omer Yurtseven  23   C  56
840        Cody Zeller  29   C  27
841        Ivica Zubac  24   C  76

[842 rows x 4 columns]

In [54]:
daaa =daa[['Player','Age','Pos','G']][0:5]

In [55]:
daaaa =daa[['Player','Age','Pos','G']][5:10]

In [56]:
daaa

              Player Age Pos   G
0   Precious Achiuwa  22   C  73
1       Steven Adams  28   C  76
2        Bam Adebayo  24   C  56
3       Santi Aldama  21  PF  32
4  LaMarcus Aldridge  36   C  47

In [57]:
daaaa

                     Player Age Pos   G
5  Nickeil Alexander-Walker  23  SG  65
6  Nickeil Alexander-Walker  23  SG  50
7  Nickeil Alexander-Walker  23  SG  15
8             Grayson Allen  26  SG  66
9             Jarrett Allen  23   C  56

In [58]:
pd.concat([daaa,daaaa])

                     Player Age Pos   G
0          Precious Achiuwa  22   C  73
1              Steven Adams  28   C  76
2               Bam Adebayo  24   C  56
3              Santi Aldama  21  PF  32
4         LaMarcus Aldridge  36   C  47
5  Nickeil Alexander-Walker  23  SG  65
6  Nickeil Alexander-Walker  23  SG  50
7  Nickeil Alexander-Walker  23  SG  15
8             Grayson Allen  26  SG  66
9             Jarrett Allen  23   C  56

In [59]:
q =pd.concat([daaa,daaaa], axis = 1)

In [60]:
q.fillna('sudhir')

,Player,Age,Pos,G,Player,Age,Pos,G
0,Precious Achiuwa,22,C,73,sudhir,sudhir,sudhir,sudhir
1,Steven Adams,28,C,76,sudhir,sudhir,sudhir,sudhir
2,Bam Adebayo,24,C,56,sudhir,sudhir,sudhir,sudhir
3,Santi Aldama,21,PF,32,sudhir,sudhir,sudhir,sudhir
4,LaMarcus Aldridge,36,C,47,sudhir,sudhir,sudhir,sudhir
5,sudhir,sudhir,sudhir,sudhir,Nickeil Alexander-Walker,23,SG,65
6,sudhir,sudhir,sudhir,sudhir,Nickeil Alexander-Walker,23,SG,50
7,sudhir,sudhir,sudhir,sudhir,Nickeil Alexander-Walker,23,SG,15
8,sudhir,sudhir,sudhir,sudhir,Grayson Allen,26,SG,66
9,sudhir,sudhir,sudhir,sudhir,Jarrett Allen,23,C,56

In [61]:
data1= pd.DataFrame({'key1':[2,3,5,7,3,4],
                     'key2':[11,4,2,4,3,1],
                     'key3':[11,2,3,4,5,6],
                     'key4':[6,5,4,3,2,1],
})

In [62]:
data1

   key1  key2  key3  key4
0     2    11    11     6
1     3     4     2     5
2     5     2     3     4
3     7     4     4     3
4     3     3     5     2
5     4     1     6     1

In [63]:
data2= pd.DataFrame({'key7': [4,8,1,9,3,4,],
                     'key1':[11,4,2,1,3,1],
                     'key5':[11,2,3,4,9,6],
                     'key8':[11,2,4,3,2,19],
})

In [64]:
data2

   key7  key1  key5  key8
0     4    11    11    11
1     8     4     2     2
2     1     2     3     4
3     9     1     4     3
4     3     3     9     2
5     4     1     6    19

In [65]:
pd.merge(data1,data2)

   key1  key2  key3  key4  key7  key5  key8
0     2    11    11     6     1     3     4
1     3     4     2     5     3     9     2
2     3     3     5     2     3     9     2
3     4     1     6     1     8     2     2

In [66]:
pd.merge(data1,data2, how = 'left')

   key1  key2  key3  key4  key7  key5  key8
0     2    11    11     6   1.0   3.0   4.0
1     3     4     2     5   3.0   9.0   2.0
2     5     2     3     4   NaN   NaN   NaN
3     7     4     4     3   NaN   NaN   NaN
4     3     3     5     2   3.0   9.0   2.0
5     4     1     6     1   8.0   2.0   2.0

In [67]:
data1

   key1  key2  key3  key4
0     2    11    11     6
1     3     4     2     5
2     5     2     3     4
3     7     4     4     3
4     3     3     5     2
5     4     1     6     1

In [68]:
pd.merge(data1,data2, how = 'right')

   key1  key2  key3  key4  key7  key5  key8
0    11   NaN   NaN   NaN     4    11    11
1     4   1.0   6.0   1.0     8     2     2
2     2  11.0  11.0   6.0     1     3     4
3     1   NaN   NaN   NaN     9     4     3
4     3   4.0   2.0   5.0     3     9     2
5     3   3.0   5.0   2.0     3     9     2
6     1   NaN   NaN   NaN     4     6    19

In [69]:
pd.merge(data1,data2, how = 'outer')

   key1  key2  key3  key4  key7  key5  key8
0     2  11.0  11.0   6.0   1.0   3.0   4.0
1     3   4.0   2.0   5.0   3.0   9.0   2.0
2     3   3.0   5.0   2.0   3.0   9.0   2.0
3     5   2.0   3.0   4.0   NaN   NaN   NaN
4     7   4.0   4.0   3.0   NaN   NaN   NaN
5     4   1.0   6.0   1.0   8.0   2.0   2.0
6    11   NaN   NaN   NaN   4.0  11.0  11.0
7     1   NaN   NaN   NaN   9.0   4.0   3.0
8     1   NaN   NaN   NaN   4.0   6.0  19.0

In [70]:
pd.merge(data1,data2, how = 'cross')

    key1_x  key2  key3  key4  key7  key1_y  key5  key8
0        2    11    11     6     4      11    11    11
1        2    11    11     6     8       4     2     2
2        2    11    11     6     1       2     3     4
3        2    11    11     6     9       1     4     3
4        2    11    11     6     3       3     9     2
5        2    11    11     6     4       1     6    19
6        3     4     2     5     4      11    11    11
7        3     4     2     5     8       4     2     2
8        3     4     2     5     1       2     3     4
9        3     4     2     5     9       1     4     3
10       3     4     2     5     3       3     9     2
11       3     4     2     5     4       1     6    19
12       5     2     3     4     4      11    11    11
13       5     2     3     4     8       4     2     2
14       5     2     3     4     1       2     3     4
15       5     2     3     4     9       1     4     3
16       5     2     3     4     3       3     9     2
17       5     2     3     4     4       1     6    19
18       7     4     4     3     4      11    11    11
19       7     4     4     3     8       4     2     2
20       7     4     4     3     1       2     3     4
21       7     4     4     3     9       1     4     3
22       7     4     4     3     3       3     9     2
23       7     4     4     3     4       1     6    19
24       3     3     5     2     4      11    11    11
25       3     3     5     2     8       4     2     2
26       3     3     5     2     1       2     3     4
27       3     3     5     2     9       1     4     3
28       3     3     5     2     3       3     9     2
29       3     3     5     2     4       1     6    19
30       4     1     6     1     4      11    11    11
31       4     1     6     1     8       4     2     2
32       4     1     6     1     1       2     3     4
33       4     1     6     1     9       1     4     3
34       4     1     6     1     3       3     9     2
35       4     1     6     1     4       1     6    19

In [71]:
data1

   key1  key2  key3  key4
0     2    11    11     6
1     3     4     2     5
2     5     2     3     4
3     7     4     4     3
4     3     3     5     2
5     4     1     6     1

In [72]:
data1= pd.DataFrame({'key1':[2,3,5,7,3,4],
                     'key2':[11,4,2,4,3,1],
                     'key3':[11,2,3,4,5,6],
                     'key4':[6,5,4,3,2,1]},
          index = ['a','b','c','d','e','f'] 
                   )

In [73]:
data2= pd.DataFrame({'key7':[4,8,1,9,3,4,],
                     'key6':[11,4,2,1,3,1],
                     'key5':[11,2,3,4,9,6],
                     'key8':[11,2,4,3,2,19]},
                  index = ['a','b','h','i','j','k']  
                   )

In [74]:
data1

   key1  key2  key3  key4
a     2    11    11     6
b     3     4     2     5
c     5     2     3     4
d     7     4     4     3
e     3     3     5     2
f     4     1     6     1

In [75]:
data2

   key7  key6  key5  key8
a     4    11    11    11
b     8     4     2     2
h     1     2     3     4
i     9     1     4     3
j     3     3     9     2
k     4     1     6    19

In [76]:
data1.join(data2)

   key1  key2  key3  key4  key7  key6  key5  key8
a     2    11    11     6   4.0  11.0  11.0  11.0
b     3     4     2     5   8.0   4.0   2.0   2.0
c     5     2     3     4   NaN   NaN   NaN   NaN
d     7     4     4     3   NaN   NaN   NaN   NaN
e     3     3     5     2   NaN   NaN   NaN   NaN
f     4     1     6     1   NaN   NaN   NaN   NaN

In [77]:
data1.join(data2,how ='left')

   key1  key2  key3  key4  key7  key6  key5  key8
a     2    11    11     6   4.0  11.0  11.0  11.0
b     3     4     2     5   8.0   4.0   2.0   2.0
c     5     2     3     4   NaN   NaN   NaN   NaN
d     7     4     4     3   NaN   NaN   NaN   NaN
e     3     3     5     2   NaN   NaN   NaN   NaN
f     4     1     6     1   NaN   NaN   NaN   NaN

In [78]:
data1.join(data2,how ='right')

   key1  key2  key3  key4  key7  key6  key5  key8
a   2.0  11.0  11.0   6.0     4    11    11    11
b   3.0   4.0   2.0   5.0     8     4     2     2
h   NaN   NaN   NaN   NaN     1     2     3     4
i   NaN   NaN   NaN   NaN     9     1     4     3
j   NaN   NaN   NaN   NaN     3     3     9     2
k   NaN   NaN   NaN   NaN     4     1     6    19

In [79]:
data1.join(data2,how ='inner')

   key1  key2  key3  key4  key7  key6  key5  key8
a     2    11    11     6     4    11    11    11
b     3     4     2     5     8     4     2     2

In [80]:
data1.join(data2,how = 'outer')

   key1  key2  key3  key4  key7  key6  key5  key8
a   2.0  11.0  11.0   6.0   4.0  11.0  11.0  11.0
b   3.0   4.0   2.0   5.0   8.0   4.0   2.0   2.0
c   5.0   2.0   3.0   4.0   NaN   NaN   NaN   NaN
d   7.0   4.0   4.0   3.0   NaN   NaN   NaN   NaN
e   3.0   3.0   5.0   2.0   NaN   NaN   NaN   NaN
f   4.0   1.0   6.0   1.0   NaN   NaN   NaN   NaN
h   NaN   NaN   NaN   NaN   1.0   2.0   3.0   4.0
i   NaN   NaN   NaN   NaN   9.0   1.0   4.0   3.0
j   NaN   NaN   NaN   NaN   3.0   3.0   9.0   2.0
k   NaN   NaN   NaN   NaN   4.0   1.0   6.0  19.0

In [81]:
data1.join(data2,how = 'cross')

    key1  key2  key3  key4  key7  key6  key5  key8
0      2    11    11     6     4    11    11    11
1      2    11    11     6     8     4     2     2
2      2    11    11     6     1     2     3     4
3      2    11    11     6     9     1     4     3
4      2    11    11     6     3     3     9     2
5      2    11    11     6     4     1     6    19
6      3     4     2     5     4    11    11    11
7      3     4     2     5     8     4     2     2
8      3     4     2     5     1     2     3     4
9      3     4     2     5     9     1     4     3
10     3     4     2     5     3     3     9     2
11     3     4     2     5     4     1     6    19
12     5     2     3     4     4    11    11    11
13     5     2     3     4     8     4     2     2
14     5     2     3     4     1     2     3     4
15     5     2     3     4     9     1     4     3
16     5     2     3     4     3     3     9     2
17     5     2     3     4     4     1     6    19
18     7     4     4     3     4    11    11    11
19     7     4     4     3     8     4     2     2
20     7     4     4     3     1     2     3     4
21     7     4     4     3     9     1     4     3
22     7     4     4     3     3     3     9     2
23     7     4     4     3     4     1     6    19
24     3     3     5     2     4    11    11    11
25     3     3     5     2     8     4     2     2
26     3     3     5     2     1     2     3     4
27     3     3     5     2     9     1     4     3
28     3     3     5     2     3     3     9     2
29     3     3     5     2     4     1     6    19
30     4     1     6     1     4    11    11    11
31     4     1     6     1     8     4     2     2
32     4     1     6     1     1     2     3     4
33     4     1     6     1     9     1     4     3
34     4     1     6     1     3     3     9     2
35     4     1     6     1     4     1     6    19

In [82]:
da

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAS,836,601,Thaddeus Young,PF,33,26,1,370,74,128,...,.455,40,53,93,59,23,7,30,38,158
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140

In [83]:
da['Dowler_INR'] = da['PTS'].apply(lambda x:x*72)

In [84]:
da

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Dowler_INR
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,146,327,473,82,37,41,84,151,664,6646646646646646646646646646646646646646646646...
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,349,411,760,256,65,60,115,153,528,5285285285285285285285285285285285285285285285...
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,137,427,564,190,80,44,148,171,1068,1068106810681068106810681068106810681068106810...
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,73,185,258,42,14,47,44,78,607,6076076076076076076076076076076076076076076076...
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,37,150,187,156,46,23,93,103,692,6926926926926926926926926926926926926926926926...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAS,836,601,Thaddeus Young,PF,33,26,1,370,74,128,...,40,53,93,59,23,7,30,38,158,1581581581581581581581581581581581581581581581...
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,40,75,115,45,31,11,22,43,164,1641641641641641641641641641641641641641641641...
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,50,234,284,737,72,7,303,128,2155,2155215521552155215521552155215521552155215521...
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,85,209,294,49,17,20,41,84,299,2992992992992992992992992992992992992992992992...
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,50,75,125,22,8,6,19,56,140,1401401401401401401401401401401401401401401401...

In [85]:
def data_inr(x):
    return x*72
da['new dowler'] = da ['PTS'].apply(data_inr)

In [86]:
da

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Dowler_INR,new dowler
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,327,473,82,37,41,84,151,664,6646646646646646646646646646646646646646646646...,6646646646646646646646646646646646646646646646...
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,411,760,256,65,60,115,153,528,5285285285285285285285285285285285285285285285...,5285285285285285285285285285285285285285285285...
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,427,564,190,80,44,148,171,1068,1068106810681068106810681068106810681068106810...,1068106810681068106810681068106810681068106810...
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,185,258,42,14,47,44,78,607,6076076076076076076076076076076076076076076076...,6076076076076076076076076076076076076076076076...
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,150,187,156,46,23,93,103,692,6926926926926926926926926926926926926926926926...,6926926926926926926926926926926926926926926926...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAS,836,601,Thaddeus Young,PF,33,26,1,370,74,128,...,53,93,59,23,7,30,38,158,1581581581581581581581581581581581581581581581...,1581581581581581581581581581581581581581581581...
TOR,837,601,Thaddeus Young,PF,33,26,0,475,67,144,...,75,115,45,31,11,22,43,164,1641641641641641641641641641641641641641641641...,1641641641641641641641641641641641641641641641...
ATL,838,602,Trae Young,PG,23,76,76,2652,711,1544,...,234,284,737,72,7,303,128,2155,2155215521552155215521552155215521552155215521...,2155215521552155215521552155215521552155215521...
MIA,839,603,Omer Yurtseven,C,23,56,12,706,130,247,...,209,294,49,17,20,41,84,299,2992992992992992992992992992992992992992992992...,2992992992992992992992992992992992992992992992...
POR,840,604,Cody Zeller,C,29,27,0,355,51,90,...,75,125,22,8,6,19,56,140,1401401401401401401401401401401401401401401401...,1401401401401401401401401401401401401401401401...

In [87]:
da.head()

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Dowler_INR,new dowler
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,Precious Achiuwa,C,22,73,28,1725,265,603,...,327,473,82,37,41,84,151,664,6646646646646646646646646646646646646646646646...,6646646646646646646646646646646646646646646646...
MEM,1,2,Steven Adams,C,28,76,75,1999,210,384,...,411,760,256,65,60,115,153,528,5285285285285285285285285285285285285285285285...,5285285285285285285285285285285285285285285285...
MIA,2,3,Bam Adebayo,C,24,56,56,1825,406,729,...,427,564,190,80,44,148,171,1068,1068106810681068106810681068106810681068106810...,1068106810681068106810681068106810681068106810...
BRK,4,5,LaMarcus Aldridge,C,36,47,12,1050,252,458,...,185,258,42,14,47,44,78,607,6076076076076076076076076076076076076076076076...,6076076076076076076076076076076076076076076076...
TOT,5,6,Nickeil Alexander-Walker,SG,23,65,21,1466,253,680,...,150,187,156,46,23,93,103,692,6926926926926926926926926926926926926926926926...,6926926926926926926926926926926926926926926926...

In [93]:
da

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Dowler_INR,new dowler
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,16,C,22,73,28,1725,265,603,...,327,473,82,37,41,84,151,664,6646646646646646646646646646646646646646646646...,6646646646646646646646646646646646646646646646...
MEM,1,2,12,C,28,76,75,1999,210,384,...,411,760,256,65,60,115,153,528,5285285285285285285285285285285285285285285285...,5285285285285285285285285285285285285285285285...
MIA,2,3,11,C,24,56,56,1825,406,729,...,427,564,190,80,44,148,171,1068,1068106810681068106810681068106810681068106810...,1068106810681068106810681068106810681068106810...
BRK,4,5,17,C,36,47,12,1050,252,458,...,185,258,42,14,47,44,78,607,6076076076076076076076076076076076076076076076...,6076076076076076076076076076076076076076076076...
TOT,5,6,24,SG,23,65,21,1466,253,680,...,150,187,156,46,23,93,103,692,6926926926926926926926926926926926926926926926...,6926926926926926926926926926926926926926926926...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAS,836,601,14,PF,33,26,1,370,74,128,...,53,93,59,23,7,30,38,158,1581581581581581581581581581581581581581581581...,1581581581581581581581581581581581581581581581...
TOR,837,601,14,PF,33,26,0,475,67,144,...,75,115,45,31,11,22,43,164,1641641641641641641641641641641641641641641641...,1641641641641641641641641641641641641641641641...
ATL,838,602,10,PG,23,76,76,2652,711,1544,...,234,284,737,72,7,303,128,2155,2155215521552155215521552155215521552155215521...,2155215521552155215521552155215521552155215521...
MIA,839,603,14,C,23,56,12,706,130,247,...,209,294,49,17,20,41,84,299,2992992992992992992992992992992992992992992992...,2992992992992992992992992992992992992992992992...
POR,840,604,11,C,29,27,0,355,51,90,...,75,125,22,8,6,19,56,140,1401401401401401401401401401401401401401401401...,1401401401401401401401401401401401401401401401...

In [94]:
da

,Unnamed: 0,Rk,Player,Pos,Age,G,GS,MP,FG,FGA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Dowler_INR,new dowler
Tm,,,,,,,,,,,,,,,,,,,,,
TOR,0,1,16,C,22,73,28,1725,265,603,...,327,473,82,37,41,84,151,664,6646646646646646646646646646646646646646646646...,6646646646646646646646646646646646646646646646...
MEM,1,2,12,C,28,76,75,1999,210,384,...,411,760,256,65,60,115,153,528,5285285285285285285285285285285285285285285285...,5285285285285285285285285285285285285285285285...
MIA,2,3,11,C,24,56,56,1825,406,729,...,427,564,190,80,44,148,171,1068,1068106810681068106810681068106810681068106810...,1068106810681068106810681068106810681068106810...
BRK,4,5,17,C,36,47,12,1050,252,458,...,185,258,42,14,47,44,78,607,6076076076076076076076076076076076076076076076...,6076076076076076076076076076076076076076076076...
TOT,5,6,24,SG,23,65,21,1466,253,680,...,150,187,156,46,23,93,103,692,6926926926926926926926926926926926926926926926...,6926926926926926926926926926926926926926926926...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SAS,836,601,14,PF,33,26,1,370,74,128,...,53,93,59,23,7,30,38,158,1581581581581581581581581581581581581581581581...,1581581581581581581581581581581581581581581581...
TOR,837,601,14,PF,33,26,0,475,67,144,...,75,115,45,31,11,22,43,164,1641641641641641641641641641641641641641641641...,1641641641641641641641641641641641641641641641...
ATL,838,602,10,PG,23,76,76,2652,711,1544,...,234,284,737,72,7,303,128,2155,2155215521552155215521552155215521552155215521...,2155215521552155215521552155215521552155215521...
MIA,839,603,14,C,23,56,12,706,130,247,...,209,294,49,17,20,41,84,299,2992992992992992992992992992992992992992992992...,2992992992992992992992992992992992992992992992...
POR,840,604,11,C,29,27,0,355,51,90,...,75,125,22,8,6,19,56,140,1401401401401401401401401401401401401401401401...,1401401401401401401401401401401401401401401401...

In [95]:
pd.read_csv('plear.csv')

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [97]:
ds=pd.read_csv('plear.csv')

In [98]:
ds

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [99]:
ds['player_new'] = ds ['Player'].apply(len)

In [100]:
ds

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_new
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,146,327,473,82,37,41,84,151,664,16
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,349,411,760,256,65,60,115,153,528,12
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,137,427,564,190,80,44,148,171,1068,11
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,33,54,87,21,6,10,16,36,132,12
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,73,185,258,42,14,47,44,78,607,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,40,75,115,45,31,11,22,43,164,14
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,50,234,284,737,72,7,303,128,2155,10
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,85,209,294,49,17,20,41,84,299,14
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,50,75,125,22,8,6,19,56,140,11
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,217,427,644,120,36,77,114,203,785,11

In [117]:
def cat_fare(x) :
    if x<10:
        return 'new_childrin'
    elif x>=10 and x<15:
        return 'youn'
    else :
        return 'old'

In [118]:
ds['new_Age'] = ds['player_new'].apply(cat_fare)

In [119]:
ds

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_new,new_Age
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,327,473,82,37,41,84,151,664,16,old
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,411,760,256,65,60,115,153,528,12,youn
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,427,564,190,80,44,148,171,1068,11,youn
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,54,87,21,6,10,16,36,132,12,youn
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,185,258,42,14,47,44,78,607,17,old
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,75,115,45,31,11,22,43,164,14,youn
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,234,284,737,72,7,303,128,2155,10,youn
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,209,294,49,17,20,41,84,299,14,youn
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,75,125,22,8,6,19,56,140,11,youn
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,427,644,120,36,77,114,203,785,11,youn

In [116]:
ds.tail()

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,player_new,new_Age
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,75,115,45,31,11,22,43,164,14,youn
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,234,284,737,72,7,303,128,2155,10,youn
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,209,294,49,17,20,41,84,299,14,youn
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,75,125,22,8,6,19,56,140,11,youn
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,427,644,120,36,77,114,203,785,11,youn

In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pd.read_csv('plear.csv')

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [5]:
da = pd.read_csv('plear.csv')

In [6]:
da

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [12]:
da.drop(3)

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
5,5,6,Nickeil Alexander-Walker,SG,23,TOT,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [14]:
da.drop(3,inplace =True)

In [15]:
da

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
5,5,6,Nickeil Alexander-Walker,SG,23,TOT,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [18]:
da.set_index('Player',inplace = True)

In [19]:
da

,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
Steven Adams,1,2,C,28,MEM,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Thaddeus Young,837,601,PF,33,TOR,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
Trae Young,838,602,PG,23,ATL,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
Omer Yurtseven,839,603,C,23,MIA,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
Cody Zeller,840,604,C,29,POR,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140
Ivica Zubac,841,605,C,24,LAC,76,76,1852,310,495,...,.727,217,427,644,120,36,77,114,203,785

In [20]:
da.reset_index()

,Player,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,Steven Adams,1,2,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
4,Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,Thaddeus Young,837,601,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
837,Trae Young,838,602,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
838,Omer Yurtseven,839,603,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
839,Cody Zeller,840,604,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
840,Ivica Zubac,841,605,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [29]:
da.dropna()

,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
Steven Adams,1,2,C,28,MEM,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Thaddeus Young,836,601,PF,33,SAS,26,1,370,74,128,...,.455,40,53,93,59,23,7,30,38,158
Thaddeus Young,837,601,PF,33,TOR,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
Trae Young,838,602,PG,23,ATL,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
Omer Yurtseven,839,603,C,23,MIA,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
Cody Zeller,840,604,C,29,POR,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140

In [27]:
da.dropna(axis = 1)

,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FTA,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,603,...,131,146,327,473,82,37,41,84,151,664
Steven Adams,1,2,C,28,MEM,76,75,1999,210,384,...,199,349,411,760,256,65,60,115,153,528
Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,729,...,340,137,427,564,190,80,44,148,171,1068
LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,458,...,102,73,185,258,42,14,47,44,78,607
Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,680,...,109,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Thaddeus Young,837,601,PF,33,TOR,26,0,475,67,144,...,27,40,75,115,45,31,11,22,43,164
Trae Young,838,602,PG,23,ATL,76,76,2652,711,1544,...,553,50,234,284,737,72,7,303,128,2155
Omer Yurtseven,839,603,C,23,MIA,56,12,706,130,247,...,61,85,209,294,49,17,20,41,84,299
Cody Zeller,840,604,C,29,POR,27,0,355,51,90,...,49,50,75,125,22,8,6,19,56,140
Ivica Zubac,841,605,C,24,LAC,76,76,1852,310,495,...,227,217,427,644,120,36,77,114,203,785

In [30]:
da.fillna('sudhir')

,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
Steven Adams,1,2,C,28,MEM,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Thaddeus Young,837,601,PF,33,TOR,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
Trae Young,838,602,PG,23,ATL,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
Omer Yurtseven,839,603,C,23,MIA,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
Cody Zeller,840,604,C,29,POR,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140
Ivica Zubac,841,605,C,24,LAC,76,76,1852,310,495,...,.727,217,427,644,120,36,77,114,203,785

In [31]:
da

,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
Steven Adams,1,2,C,28,MEM,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Thaddeus Young,837,601,PF,33,TOR,26,0,475,67,144,...,.481,40,75,115,45,31,11,22,43,164
Trae Young,838,602,PG,23,ATL,76,76,2652,711,1544,...,.904,50,234,284,737,72,7,303,128,2155
Omer Yurtseven,839,603,C,23,MIA,56,12,706,130,247,...,.623,85,209,294,49,17,20,41,84,299
Cody Zeller,840,604,C,29,POR,27,0,355,51,90,...,.776,50,75,125,22,8,6,19,56,140
Ivica Zubac,841,605,C,24,LAC,76,76,1852,310,495,...,.727,217,427,644,120,36,77,114,203,785

In [32]:
da.reset_index()

,Player,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,Steven Adams,1,2,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
4,Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,Thaddeus Young,837,601,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
837,Trae Young,838,602,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
838,Omer Yurtseven,839,603,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
839,Cody Zeller,840,604,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
840,Ivica Zubac,841,605,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [33]:
da[0:5]

,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
Steven Adams,1,2,C,28,MEM,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692

In [34]:
da.reset_index()

,Player,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,Steven Adams,1,2,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
4,Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,Thaddeus Young,837,601,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
837,Trae Young,838,602,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
838,Omer Yurtseven,839,603,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
839,Cody Zeller,840,604,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
840,Ivica Zubac,841,605,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [35]:
da[0:5]

,Unnamed: 0,Rk,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Player,,,,,,,,,,,,,,,,,,,,,
Precious Achiuwa,0,1,C,22,TOR,73,28,1725,265,603,...,.595,146,327,473,82,37,41,84,151,664
Steven Adams,1,2,C,28,MEM,76,75,1999,210,384,...,.543,349,411,760,256,65,60,115,153,528
Bam Adebayo,2,3,C,24,MIA,56,56,1825,406,729,...,.753,137,427,564,190,80,44,148,171,1068
LaMarcus Aldridge,4,5,C,36,BRK,47,12,1050,252,458,...,.873,73,185,258,42,14,47,44,78,607
Nickeil Alexander-Walker,5,6,SG,23,TOT,65,21,1466,253,680,...,.743,37,150,187,156,46,23,93,103,692

In [36]:
import pandas as pd

In [39]:
pd.read_csv('plear.csv')

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [40]:
 n=pd.read_csv('plear.csv')

In [41]:
n

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
837,837,601,Thaddeus Young,PF,33,TOR,26,0,475,67,...,.481,40,75,115,45,31,11,22,43,164
838,838,602,Trae Young,PG,23,ATL,76,76,2652,711,...,.904,50,234,284,737,72,7,303,128,2155
839,839,603,Omer Yurtseven,C,23,MIA,56,12,706,130,...,.623,85,209,294,49,17,20,41,84,299
840,840,604,Cody Zeller,C,29,POR,27,0,355,51,...,.776,50,75,125,22,8,6,19,56,140
841,841,605,Ivica Zubac,C,24,LAC,76,76,1852,310,...,.727,217,427,644,120,36,77,114,203,785

In [49]:
g=n.groupby('G')

In [51]:
g.sum()

/tmp/ipykernel_98/1197020669.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.sum()

    Unnamed: 0
G
1        15201
10        3982
11        3779
12        4864
13        4500
..         ...
80         620
81        1443
82        1263
9         8155
G        12864

[83 rows x 1 columns]

In [54]:
g.max().transpose()

/tmp/ipykernel_98/2848969155.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  g.max().transpose()

G,1,10,11,12,13,14,15,16,17,18,...,76,77,78,79,8,80,81,82,9,G
Unnamed: 0,831,693,824,827,702,567,717,594,817,685,...,841,828,802,780,720,237,527,627,800,834
Rk,99,502,593,596,70,77,91,429,588,98,...,605,89,576,80,517,67,85,66,574,Rk
Player,Zylan Cheatham,Xavier Moon,Tacko Fall,Yves Pons,Udonis Haslem,RJ Nembhard Jr.,Vlatko Čančar,Miye Oni,Udoka Azubuike,Willie Cauley-Stein,...,Trae Young,Tyrese Haliburton,Torrey Craig,Malik Beasley,Victor Oladipo,Miles Bridges,Terance Mann,Saddiq Bey,Xavier Sneed,Player
Pos,SG,SG,SG,SG,SG,SG,SG,SG,SG,SG,...,SG,SG-PG,SF,SG,SG,SG,SG,SF,SG-SF,Pos
Age,40,31,26,31,41,31,30,35,32,35,...,32,29,33,29,29,29,33,30,36,Age
Tm,WAS,TOT,TOT,WAS,TOT,UTA,UTA,UTA,WAS,ORL,...,PHI,WAS,TOT,UTA,TOT,TOR,TOT,WAS,TOT,Tm
GS,1,3,11,3,6,5,4,6,9,8,...,76,8,78,79,3,9,48,82,9,GS
MP,9,98,85,85,83,81,69,44,479,96,...,2743,2695,2678,2524,77,2837,2499,2854,88,MP
FG,3,8,68,8,92,6,8,44,55,83,...,774,430,548,506,6,596,446,458,9,FG
FGA,8,79,72,49,87,58,74,95,77,99,...,932,909,729,975,8,965,794,858,78,FGA
3P,1,9,6,8,6,41,8,15,9,8,...,50,70,79,96,4,68,76,82,9,3P
3PA,5,9,9,9,83,88,58,8,79,48,...,651,408,401,637,6,619,716,610,9,3PA
2P,3,8,9,8,7,8,7,9,94,79,...,90,99,469,92,7,442,97,343,9,2P
2PA,5,9,79,9,8,91,9,68,75,9,...,934,520,968,756,8,749,482,546,9,2PA
FT,3,9,7,9,7,6,9,7,9,7,...,93,86,39,78,4,80,48,75,9,FT
FTA,4,9,9,9,6,6,8,7,9,9,...,593,95,52,61,6,83,59,254,9,FTA
ORB,2,7,7,9,9,9,8,9,6,9,...,85,82,98,84,4,90,66,74,9,ORB
DRB,4,9,8,9,8,51,44,60,74,85,...,524,350,470,272,7,469,350,388,50,DRB
TRB,4,8,9,28,70,74,7,92,98,63,...,760,432,580,356,7,559,425,596,8,TRB
AST,7,9,5,8,8,79,9,8,7,99,...,84,85,91,377,6,300,239,97,8,AST
STL,2,9,14,5,8,8,8,8,9,6,...,92,93,75,68,5,88,85,96,9,STL
BLK,1,8,7,4,9,7,8,9,9,7,...,77,71,60,40,1,75,26,52,9,BLK
TOV,2,9,5,9,9,7,9,8,8,7,...,67,97,99,60,9,80,91,96,9,TOV
PF,5,9,8,7,7,7,9,7,49,9,...,95,94,286,88,9,193,215,220,8,PF
PTS,8,92,79,7,89,90,91,77,80,97,...,902,679,919,953,99,880,944,717,95,PTS

In [42]:
n[0:5]

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607

In [43]:
ds= n[0:5]

In [44]:
n[5:10]

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
5,5,6,Nickeil Alexander-Walker,SG,23,TOT,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
6,6,6,Nickeil Alexander-Walker,SG,23,NOP,50,19,1317,237,...,.722,36,128,164,139,41,19,85,88,639
7,7,6,Nickeil Alexander-Walker,SG,23,UTA,15,2,149,16,...,.917,1,22,23,17,5,4,8,15,53
8,8,7,Grayson Allen,SG,26,MIL,66,61,1805,255,...,.865,32,190,222,100,46,18,43,96,733
9,9,8,Jarrett Allen,C,23,CLE,56,56,1809,369,...,.708,192,410,602,92,44,75,94,97,904

In [45]:
 dss=n[5:10]

In [ ]:
ds= n[0:5]

In [56]:
pd.concat([ds,dss] )

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,.595,146,327,473,82,37,41,84,151,664
1,1,2,Steven Adams,C,28,MEM,76,75,1999,210,...,.543,349,411,760,256,65,60,115,153,528
2,2,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,.753,137,427,564,190,80,44,148,171,1068
3,3,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,.625,33,54,87,21,6,10,16,36,132
4,4,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,.873,73,185,258,42,14,47,44,78,607
5,5,6,Nickeil Alexander-Walker,SG,23,TOT,65,21,1466,253,...,.743,37,150,187,156,46,23,93,103,692
6,6,6,Nickeil Alexander-Walker,SG,23,NOP,50,19,1317,237,...,.722,36,128,164,139,41,19,85,88,639
7,7,6,Nickeil Alexander-Walker,SG,23,UTA,15,2,149,16,...,.917,1,22,23,17,5,4,8,15,53
8,8,7,Grayson Allen,SG,26,MIL,66,61,1805,255,...,.865,32,190,222,100,46,18,43,96,733
9,9,8,Jarrett Allen,C,23,CLE,56,56,1809,369,...,.708,192,410,602,92,44,75,94,97,904

In [58]:
 dss=pd.concat([ds,dss], axis = 1)

In [59]:
dss

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0.0,1,Precious Achiuwa,C,22,TOR,73,28,1725,265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2,Steven Adams,C,28,MEM,76,75,1999,210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,3,Bam Adebayo,C,24,MIA,56,56,1825,406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,4,Santi Aldama,PF,21,MEM,32,0,360,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,5,LaMarcus Aldridge,C,36,BRK,47,12,1050,252,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,.743,37,150,187,156,46,23,93,103,692
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,.722,36,128,164,139,41,19,85,88,639
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,.917,1,22,23,17,5,4,8,15,53
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,.865,32,190,222,100,46,18,43,96,733
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,.708,192,410,602,92,44,75,94,97,904

In [67]:
data1 = pd.DataFrame({'key1':[1,3,5,7,9],
                      'key2':[2,3,7,9,1],
                     'key3':[4,2,1,6,7],






})

In [83]:
data2= pd.DataFrame({'key6':[1,3,5,2,9],
                    'key1':[2,4,7,5,1],
                      'key5':[4,2,3,6,7],








})

In [84]:
data1

   key1  key2  key3
0     1     2     4
1     3     3     2
2     5     7     1
3     7     9     6
4     9     1     7

In [85]:
data2

   key6  key1  key5
0     1     2     4
1     3     4     2
2     5     7     3
3     2     5     6
4     9     1     7

In [86]:
pd.concat([data1,data2])

   key1  key2  key3  key6  key5
0     1   2.0   4.0   NaN   NaN
1     3   3.0   2.0   NaN   NaN
2     5   7.0   1.0   NaN   NaN
3     7   9.0   6.0   NaN   NaN
4     9   1.0   7.0   NaN   NaN
0     2   NaN   NaN   1.0   4.0
1     4   NaN   NaN   3.0   2.0
2     7   NaN   NaN   5.0   3.0
3     5   NaN   NaN   2.0   6.0
4     1   NaN   NaN   9.0   7.0

In [87]:
A =pd.concat([data1,data2])

In [88]:
import pandas as pd

In [89]:
pd.merge(data1,data2)

   key1  key2  key3  key6  key5
0     1     2     4     9     7
1     5     7     1     2     6
2     7     9     6     5     3

In [90]:
pd.merge(data1,data2,how = 'left')

   key1  key2  key3  key6  key5
0     1     2     4   9.0   7.0
1     3     3     2   NaN   NaN
2     5     7     1   2.0   6.0
3     7     9     6   5.0   3.0
4     9     1     7   NaN   NaN

In [91]:
pd.merge(data1,data2,how = 'right')

   key1  key2  key3  key6  key5
0     2   NaN   NaN     1     4
1     4   NaN   NaN     3     2
2     7   9.0   6.0     5     3
3     5   7.0   1.0     2     6
4     1   2.0   4.0     9     7

In [92]:
pd.merge(data1,data2,how = 'outer')

   key1  key2  key3  key6  key5
0     1   2.0   4.0   9.0   7.0
1     3   3.0   2.0   NaN   NaN
2     5   7.0   1.0   2.0   6.0
3     7   9.0   6.0   5.0   3.0
4     9   1.0   7.0   NaN   NaN
5     2   NaN   NaN   1.0   4.0
6     4   NaN   NaN   3.0   2.0

In [93]:
pd.merge(data1,data2,how = 'cross')

    key1_x  key2  key3  key6  key1_y  key5
0        1     2     4     1       2     4
1        1     2     4     3       4     2
2        1     2     4     5       7     3
3        1     2     4     2       5     6
4        1     2     4     9       1     7
5        3     3     2     1       2     4
6        3     3     2     3       4     2
7        3     3     2     5       7     3
8        3     3     2     2       5     6
9        3     3     2     9       1     7
10       5     7     1     1       2     4
11       5     7     1     3       4     2
12       5     7     1     5       7     3
13       5     7     1     2       5     6
14       5     7     1     9       1     7
15       7     9     6     1       2     4
16       7     9     6     3       4     2
17       7     9     6     5       7     3
18       7     9     6     2       5     6
19       7     9     6     9       1     7
20       9     1     7     1       2     4
21       9     1     7     3       4     2
22       9     1     7     5       7     3
23       9     1     7     2       5     6
24       9     1     7     9       1     7